# This will run on Travis' 'new' container-based infrastructure

# Blacklist
branches:
  only:
    - master

# OS
dist: trusty 
sudo: required

# Environment variables
env:
  global:
    - GH_REPO_NAME: openpose
    - DOXYFILE: $TRAVIS_BUILD_DIR/doc/doc_autogeneration.doxygen
    # Set this in Environment Variables on travis-ci.org
    # - GH_REPO_REF: github.com/<user_name>/openpose.git

# Install dependencies
addons:
  apt:
    packages:
      - doxygen
      - doxygen-doc
      - doxygen-latex
      - doxygen-gui
      - graphviz

# Build your code e.g. by calling make
script:
  - ./ubuntu/install_cmake.sh
  - sudo apt-get -y install libatlas-base-dev
  - sudo apt-get -y install libopencv-dev
  - pip install --upgrade numpy
  - mkdir build
  - cd build
  - cmake -DBUILD_CAFFE=ON -DDOWNLOAD_COCO_MODEL=OFF -DDOWNLOAD_FACE_MODEL=OFF -DDOWNLOAD_HAND_MODEL=OFF -DDOWNLOAD_MPI_MODEL=OFF ..
  - no_cores=`cat /proc/cpuinfo | grep processor | wc -l`
  - make -j${no_cores}

# Generate and deploy documentation
after_success:
  - cd $TRAVIS_BUILD_DIR
  - chmod +x .github/generate_gh_pages.sh
  - ./.github/generate_gh_pages.sh
